---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Sunny Dray's Cleaning | Booking"
  description="Request a home cleaning in Southern NH and the Merrimack Valley. See an estimated price as you fill out the form and submit to check availability."
>
  <Header slot="header" />

  <section class="relative">
    <div class="wrapper">
      <h1
        class="booking-h1 text-3xl md:text-4xl font-semibold tracking-tight opacity-0 transition-opacity duration-500"
      >
        Book Your Cleaning
      </h1>
      <p
        class="booking-p mt-4 text-sm opacity-0 transition-opacity duration-500"
        style="color: var(--muted);"
      >
        Sunny Dray’s Cleaning provides thoughtful, reliable home cleaning
        throughout Southern New Hampshire and the Merrimack Valley. We offer
        one-time deep cleans, recurring home cleaning, and move-in or move-out
        services for busy households. <span class="font-light text-[#d93a1b]">
          As you complete the form below, you’ll see an estimated price before
          submitting your request.
        </span>
      </p>
    </div>

    <div
      id="jotform-wrapper"
      class="mt-10 rounded-3xl opacity-0 transition-opacity duration-500 min-h-250"
      style="border-color: var(--border);"
    >
      <script
        type="text/javascript"
        is:inline
        src="https://form.jotform.com/jsform/253528374720055"></script>
    </div>

    <script>
      window.addEventListener("load", () => {
        const form = document.getElementById("jotform-wrapper");
        if (!form) return;

        const myH1 = document.querySelector(
          ".booking-h1"
        ) as HTMLElement | null;
        const myP = document.querySelector(".booking-p") as HTMLElement | null;

        requestAnimationFrame(() => {
          myH1!.style.opacity = "1";
        });

        setTimeout(() => {
          myP!.style.opacity = "1";
        }, 200);

        setTimeout(() => {
          form.style.opacity = "1";
        }, 450);
      });
    </script>

    <div class="relative h-25 bg-white w-full bottom-17 -mb-62"></div>
  </section>

  <br /><br />

  <Footer slot="footer" />
</Layout>
